.brands {
  display: none;
}

@media screen and (min-width: 750px) {
  .brands {
    display: block;
  }

  .brandsHeader {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin: var(--indent) 0;
  }

  .brandsHeader span {
    font-size: 22px;
    color: lightblue;
    margin-left: 10px;
  }

  .brandsHeader > a {
    display: none;
  }

  .navArrow {
    outline: none;
  }

  .brand_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px auto;
  }

  .brand_img > a {
    width: 10%;
  }
  .brand_img > a > img {
    width: 100%;
  }
  .brand_img > a:nth-of-type(3) {
    height: 30px;
  }

  .brand_img > a:last-of-type {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .brandsHeader > a {
    display: block;
    color: #4673ab;
    text-decoration: underline solid #4673ab;
    cursor: pointer;
    font-size: 11pt;
    font-weight: 200;
    line-height: 20pt;
  }

  .brand_img > a:last-of-type {
    display: block;
  }
}
