#header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11pt;
  line-height: 20pt;
  color: #323232;
  min-width: 300px;
  display: grid;
  grid-template-areas:
    "location personal"
    "logo icons"
    " contacts contacts";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
}

.location {
  grid-area: location;
  display: flex;
  flex-direction: row;
  font-size: smaller;
}

.region {
  display: flex;
  flex-direction: row;
  padding-right: 0.3rem;
}

.personal {
  grid-area: personal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
}

.city,
.account,
.login,
.email {
  color: #4673ab;
  text-decoration: underline solid #4673ab;
  cursor: pointer;
}

.city {
  text-decoration-style: dotted;
}

/*////////////////////////*/

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  color: #040d0d;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24pt;
  font-weight: 200;
  font-stretch: semi-condensed;
  letter-spacing: 0.1rem;
  margin-top: var(--indent);
}

.logo div {
  display: flex;
}

.logo div:hover {
  color: #ff5816;
  cursor: pointer;
}

.logo > p {
  margin: 0 3px 0 0;
}

.logo_center {
  display: inline-block;
}

.logo_center::before {
  content: "MY";
  font-weight: bolder;
  color: #ff5816;
  padding: 0 3px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("../img/header/bg.png");
  border-radius: 10px;
}

.btn_cart {
  position: relative;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: none;
}
.quantityMob {
  position: absolute;
  top: 0px;
  left: 27px;
  font-size: 14px;
  font-weight: bold;
  color: #ff5816;
  padding: 1px 8px;
  border-radius: 5px;
  background: url(../img/header/bg.png);
}

.icons {
  display: flex;
  align-items: center;
  grid-area: icons;
  margin-top: 0.5rem;
  justify-self: end;
}
.money {
  padding-right: 3px;
}
.icon1 > img {
  width: 1.5rem;
}

.icon2 > svg {
  width: 24px;
  fill: #ff5816;
}

/*////////////////////////*/

.contacts {
  grid-area: contacts;
  display: grid;
  grid-template-areas:
    "phone email"
    "social skype";
  grid-column: repeat(2, auto);
  grid-row: repeat(2, auto);
  row-gap: 13px;
}

.contacts > * {
  margin: 0;
  padding: 0;
  line-height: 13pt;
  font-weight: 400;
}
.contacts > a {
  text-decoration: none;
  color: #040d0d;
}
.phone {
  grid-area: phone;
  font-size: 13pt;
  font-weight: 500;
  color: #040d0d;
}

.schedule {
  display: none;
}

.email {
  grid-area: email;
  text-align: end;
}

.social {
  grid-area: social;
  display: flex;
  justify-self: start;
}
.social svg {
  margin-right: 5px;
}
.social > a {
  text-decoration: none;
  line-height: 18px;
  color: #040d0d;
}

.skype {
  grid-area: skype;
  display: flex;
  width: 105px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-self: end;
  color: #040d0d;
  font-weight: 500;
}

.viber > img,
.skype_icon > img,
.wtsapp > img {
  margin-right: 3px;
  width: 20px;
}

.wtsapp > img {
  height: 18px;
}

.logo_slogan,
.cart,
.sum,
.login,
.btn_options,
.recall,
.search {
  display: none;
}

/*////////////////////////*/

@media screen and (min-width: 750px) {
  #header {
    display: grid;
    grid-template-areas:
      "location contacts personal"
      "logo contacts icons"
      "logo contacts options";
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
  }

  .personal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .login:hover,
  .account:hover {
    color: #ff5816;
    text-decoration: none;
  }

  .login {
    display: block;
    margin-right: 19px;
  }

  .logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    color: #040d0d;
    font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40pt;
    font-weight: 200;
    font-stretch: semi-condensed;
    letter-spacing: 0.1rem;
  }
  .quantityMob {
    display: none;
  }
  .logo_slogan {
    display: block;
    padding-top: 0.7rem;
    font-size: 0.6rem;
    font-weight: 200;
    color: #818588;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  /*////////////////////////*/

  .contacts {
    grid-area: contacts;
    display: grid;
    grid-template-areas:
      "phone"
      "schedule"
      "social"
      "skype"
      "email";
    justify-content: left;
    margin: var(--indent) 0;
  }

  .contacts > * {
    margin: 0;
    padding: 0;
    line-height: 10px;
    font-weight: 200;
    text-align: left;
  }

  .phone {
    grid-area: phone;
    font-size: 20px;
    font-weight: 400;
  }

  .schedule {
    display: block;
    grid-area: schedule;
    color: #040d0d;
  }

  .social,
  .skype {
    display: flex;
    flex-direction: row;
    justify-self: start;
  }

  .social {
    grid-area: social;
  }

  .skype {
    grid-area: skype;
  }

  .skype_icon > img {
    margin-top: -5px;
  }

  .email {
    grid-area: email;
  }

  /*////////////////////////*/

  .icons {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .icon1 > img {
    order: 1;
    margin: 10px;
  }

  .btn_cart {
    order: 2;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: url("../img/header/bg.png");
    border-radius: 10px;
    color: #040d0d;
    cursor: pointer;
    width: 200px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn_cart:hover {
    color: #ff5816;
  }
  .icon2 > img {
    order: 1;
  }

  .cart_info {
    order: 3;
    margin-left: var(--indent);
    height: 100%;
  }
  .cart {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
  }

  .sum {
    display: block;
    font-size: 15px;
    padding-left: 10px;
    margin-top: 2px;
  }

  .btn_options {
    grid-area: options;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    gap: 10px;
    margin-bottom: 0;
    font-size: 9pt;
    align-items: center;
  }

  .btn_options a {
    border-bottom: 1px dashed #4673ab;
    text-decoration: none;
    color: #363c3e;
  }

  .btn_options a:hover {
    border-bottom: 1px solid #4673ab;
  }
  .btn_options_spacer {
    width: 10px;
  }

  .btn_options > p {
    margin: 0;
  }
}

@media screen and (min-width: 980px) {
  #header {
    display: grid;
    grid-template-areas:
      "location recall contacts personal"
      "logo recall contacts icons"
      "logo . contacts options";
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
  }

  .recall {
    display: block;
    background: no-repeat url(https://homy.ru/themes/homy/img/cloud.png);
    background-size: cover;
    grid-area: recall;
    justify-self: flex-end;
    width: 110px;
    height: 57px;
    background-image: url("../img/header/recall.png");
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    margin-top: 40px;
    padding-right: 10px;
  }

  .recall a {
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
    color: #4673ab;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px dotted #4673ab;
    cursor: pointer;
  }

  .recall a:hover {
    color: #454b4c;
  }
}

@media screen and (min-width: 1140px) {
  #header {
    display: grid;
    grid-template-areas:
      "location recall contacts search personal"
      "logo     recall contacts search icons"
      "logo        .   contacts search options";
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    margin: 0;
  }

  .search {
    display: block;
    grid-area: search;
    margin-top: 15px;
  }

  .search_txt1,
  .search_txt2 {
    text-align: left;
    text-transform: uppercase;
    font-style: italic;
    padding: 0;
    font-size: 11pt;
    letter-spacing: 0.05px;
  }

  .search_txt1 {
    color: #ff5816;
  }

  .search_txt2 {
    color: #040d0d;
  }

  .search_txt {
    display: flex;
    flex-direction: row;
  }

  .search_txt > img {
    width: 35px;
    height: 35px;
    margin: auto 10px auto 0;
  }

  .search_bar {
    margin-top: 10px;
    margin-right: 0;
    padding: 5px;
    padding-left: 9px;
    width: 180px;
    color: #a1a5a8;
    background-color: #eff0f4;
    font-weight: 200;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  .search_go {
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin-left: 0;
    padding: 5px 9px;
    background-color: #ff5816;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 200;
  }

  .search_go:hover {
    background-color: #4673ab;
    border-bottom: 3px solid #284263;
  }

  .contacts {
    grid-area: contacts;
    display: grid;
    grid-template-areas:
      "phone"
      "schedule"
      "social"
      "email";
  }

  .icon1,
  .skype {
    display: none;
  }
}
